# 시리즈 만들기

In [6]:
import pandas as pd

s = pd.Series(['banana', 42])
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)


s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

0    banana
1        42
dtype: object
0         Wes McKinney
1    Creator of Pandas
dtype: object
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [20]:
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
print(scientists)

print('==============\n')
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]},
    index=['Rosaline Franklin','William Gosset'],
    columns=['Occupation','Born','Age','Died']

) 
print(scientists)



print('==============\n')
from collections import OrderedDict
scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']), 
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61]) 
]))
                          
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
==============

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16
==============

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [26]:
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]},
    index=['Rosaline Franklin','William Gosset'],
    columns=['Occupation','Born','Age','Died']

) 
print(scientists)



print('==============\n')


first_row = scientists.loc['William Gosset']
# print(type(first_row))
print(first_row)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16
==============

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [37]:
# keys 메서드와 index 속성은 같은 결과를 리턴
print(first_row.index)

print(first_row.values)

print(first_row.keys())

print(first_row.index[1])
print(first_row.keys()[1])

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
['Statistician' '1876-06-13' 61 '1937-10-16']
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
Born
Born

# 시리즈의 mean, min, max, std 메서드 사용하기

In [42]:
ages = scientists['Age']
print(ages)

print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

# 시리즈와 불린 추출 사용하기

In [59]:
scientists = pd.read_csv('../data/scientists.csv')

ages = scientists['Age']
print(ages.max())
print(ages.mean())

print('====================================\n')

print(ages[ages > ages.mean()])

print(ages > ages.mean())

print(type(ages > ages.mean()))

90
59.125
====================================

1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>

# 시리즈와 브로드캐스팅

In [72]:
# 시리즈 처럼 여러개의 값을 가진 데이터 -> 벡터 (시리즈도 벡터의 한 종류)
# 단순 크기를 나타내는 데이터 -> 스칼라

print(ages)
# print(ages + ages)

# print(ages * ages)

# 벡터에 스칼라 연산
# print(ages + 100)
# print(ages * 2)


# print(pd.Series([1, 100]))

# print(ages + pd.Series([1, 100]))



rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

# 데이터프레임과 브로드캐스팅

# 열의 자료형 바꾸기와 새로운 열 추가하기

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기

# CSV 불러오기